#calendar{
    height: 50vh;
}

table {
    border: medium #6495ed;
    font-size: 2.5vw;
    width: 100%;
    height: 100%;
}
th {
    border: thin solid #6495ed;
    width: 14.28%;
    height: 17%;
    background-color: #D0E3FA;
}
td {
    border: thin solid #6495ed;
    text-align: right;
    width: 14.28%;
    height: 17%;
    background-color: #ffffff;
}
.day.otherMonth.free {
    background-color: #aaaaaa;
}
.event {
    background-color: hsl(0, 100%, 41%);
    color: #ffffff
}
.day.free {
    background-color: #006e00;
    color: #ffffff
}
#currentMonth{
    text-align: center;
}
.dayNumber{
    vertical-align: top;
    text-align: right;
}
.name{
    vertical-align: middle;
    text-align: left;
}